.title {
    font-weight: bold;
    color: black;
    font-size: 24px;
}
.outline-custom {
    border: 1px solid white;
    background-color: #d70018;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.outline-custom:hover {
    background: rgba(255,255,255,0.2);
    color: white;
    border: 1px solid white;
}

.create-acc span {
    color: #777;
}
.link {
    color: #d70018;
    text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*MAIN*/
#main .btn-outline-list {
    background-color: #d70018;
    outline:1px solid gray;
}

#main .error {
    border: 1px solid crimson;
    display: inline-block;
    position: relative;
}
#main .text-error {
    color: crimson;
}
#main .eyes {
    position: absolute;
    right: 0;
    top: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    padding-right: 5px;
}


